extends layout

block content
  //- pre=h.dump(user)
  .inner
    h2.title=title
    p.qs This is your account page, #{user.name}
    a.link(href="/account/edit") Want to make some changes?
    a.link(href="/account/snippets") View Recent Activity





