extends layout

block content
  .inner
    h2.title=title
    form.form(action="/account/edit" method="POST")
      label.label Name
      input.text-field(type="name" name="name" value=user.name)
      label.label Email
      input.text-field(type="email" name="email" value=user.email)
      input.button(type="submit" value="Update")