extends layout

block content
  .inner
    form.form(action="/login" method="POST")
      h2= title
      label.label(for="email") Email Address
      input.text-field(type="email" name="email")
      label.label(for="password") Password
      input.text-field(type="password" name="password")
      input.button(type="Submit" value="Submit")
      p.qs Not a member?
        a(href="/register")  Click Here!
      a.qs.forgot(href="#") Forgot Password?

