mixin snippetForm()
  .inner
    form.form(action =`/snippets/${user._id}` method="POST")
      textArea.snippet-field(name="text" placeholder="What are you thinking today?" maxlength="220")
      input.button(type="submit" value="Share" cols:"30" rows:"5")