mixin snippetForm(user)
  form.form(action ="/snippets/new" method="POST")
    label.label(for="text") What are you thinking today?
    input.text-field(type="text" name = "snippet")
    input.button(type="submit" value="Share")