mixin snippetCard(snippet = {})
      each snippet in snippets
        .snippets
          p.qs= `${snippet.author.name}`
          p.qs= snippet.text
          time.qs(datetime=snippet.created)= h.moment(snippet.created).fromNow()

