$blue40: #5392ff;
$text-color: #272727;
$offwhite: #e3ecec;
$innerwhite: #fbfcfc;
$blue: #95c4f3;
// Key for variables:
// FS = font-size
$FS-head: 2.618em;
$FS-subhead: 1.618em;
$FS-body: 1em;
$FS-footer: 0.618em;

body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-size: $FS-body;
  font-family: 'Helvetica Neue';
  font-weight: 300;
  color: $text-color;
  background-color: $offwhite;
}

a {
  text-decoration: none;
}

.inner {
  margin: 8%;
  background-color: $innerwhite;

  &__user {
    margin: 1rem;
    background-color: $innerwhite;
    width: 88%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8%;
  background-color: $blue;
  color: $text-color;
}
.header-title {
  color: $text-color;
}

.head {
  margin: 1rem;
  font-size: $FS-head;
}

.subhead {
  margin: 1rem;
  padding-right: 20rem;
}

.qs {
  display: block;
  margin: 0px;
  padding: 1rem;
  text-decoration: none;
  color: $text-color;
}

.link {
  display: block;
  margin: 0rem;
  padding: 1rem;
  text-decoration: none;
  color: $text-color;
}
//3360
// .link_account {
//   display: block;
//   margin: 1rem;
//   padding: 0px;
//   text-decoration: none;
//   color: $text-color;
// }

.link:hover {
  color: $blue40;
}

.avatar {
  min-width: 60px;
  height: 60px;
  margin: 1rem;
  border-radius: 50%;
  align-self: center;
}

.gravatar {
  // margin: 1rem;
  min-width: 30px;
  height: 48px;
  border-radius: 50%;
}

@media (max-width: 400px) and (max-height: 800px) {
  .subhead {
    display: none;
  }
  .head {
    font-size: $FS-subhead;
  }
  // .nav__link {
  // will become a button or hamburger  font-size: $FS-body;
  // }
}
