$blue40: #5392ff;
$text-color: #272727;
$offwhite: #e3ecec;
$innerwhite: #fbfcfc;
$blue: #95c4f3;

.nav {
  text-decoration: none;
  display: flex;
  align-items: center;
  list-style: none;

  &__item {
    padding: 1rem;
  }
  &__link {
    color: $text-color;
  }
}
